/*�ع�*/
* {
	margin: 0;
	padding: 0;
	outline: none;
}
*:not(input,textarea) {
	-webkit-touch-callout: inherit;
	-webkit-user-select: auto;
}
body {
	width: 100%;
	font-family: Hiragino Sans GB, Arial, Helvetica, "����", sans-serif;
	font-size: 14px;
	color: #878787;
	-webkit-touch-callout: inherit ;
	-webkit-user-select: auto ;
	background-color: #fff;
}
a {
	color: #878787;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
	text-decoration: none;
}
button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	padding: 0;
	outline: none;
}
dt,dd {
	display: inline-block;
}
textarea,input {
	resize: none;
	outline: none;
}
textarea {
	resize: none;
	-webkit-appearance: none;
}
ul,ol,li {
	list-style: none;
}
em {
	font-style: normal;
}

body{

	width:100%;
	overflow:hidden;
}

.hide{ display:none;}
.page{
	width:100%;
	height:100%;
	position:absolute;
	font-size:100px;
	text-align:center
}

.page .wrap{
	height:500px;
}

.page-1-1{  background: url(/WeNewsAgency/images/teacherDay/t1-bg.png) center center no-repeat ; background-size:cover}
.page-2-1{  background: url(/WeNewsAgency/images/teacherDay/t2-bg.png) center center no-repeat ; background-size:cover}
.page-3-1{  background: url(/WeNewsAgency/images/teacherDay/1/t2-bg.png) center center no-repeat ; background-size:cover}
.page-2-2{  background: url(/WeNewsAgency/images/teacherDay/1/t2-bg.png) center center no-repeat ; background-size:cover}
.page-current{
	z-index:1;
}
/*��һ��*/
.page-1-1 .img_1 {
	height:auto;
	width: 100px;
	position:absolute;
	left: calc(50% - 50px);
	top: 3%;
	z-index:999;
}
.page-1-1 .img_2 {
	height:auto;
	width:56%;
	position:absolute;
	left:22%;
	top:15%;
	margin-left:25px;
}
.page-1-1 .img_3 {
	 height:auto;
	 width: 100%;
	 position:absolute;
	 left: 0;
	 top: 0;
}
.page-1-1-img_3-moveIconUp {
	-webkit-animation: moveCircle ease-in-out 1.5s both;
	animation: moveCircle ease-in-out 1.5s both;
}
.page-1-1 .img_4 {
	height:auto;
	width: 90%;
	position:absolute;
	left: 5%;
	bottom: 0;
}
.page-1-1 .img_5 {
	height:auto;
	width: 100%;
	position:absolute;
	left: 0;
	bottom: 0;
}
.page-1-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	bottom: 3%;
	margin-left:-12px;
	z-index: 99;
}
/*�ڶ���*/
.page-2-1 .img_1 {
	height:auto;
	width:20%;
	position:absolute;
	left:5%;
	top:10%;
	z-index:2;
}
.page-2-1 .img_2 {
	height:auto;
	width:25%;
	position:absolute;
	right:5%;
	top:5%;
	z-index: 2;
}
.page-2-1 .img_3 {
	height:auto;
	width:80%;
	position:absolute;
	left:10%;
	top:10%;
}
.page-2-1 .img_4 {
	height:auto;
	width:26%;
	position:absolute;
	left:37%;
	top:15%;
}
.page-2-1 .img_5 {
	height:auto;
	width:26%;
	position:absolute;
	left:37%;
	top:35%;
}
.page-2-1 .img_6 {
	height:auto;
	width:26%;
	position:absolute;
	left:37%;
	top:55%;
}
.page-2-1 .img_7 {
	height:auto;
	width:26%;
	position:absolute;
	left:10%;
	bottom: 15%;
}
.page-2-1 .img_8 {
	height:auto;
	width:15%;
	position:absolute;
	right:10%;
	bottom: 5%;
}
.page-2-1 .img_9 {
	height:auto;
	width:15%;
	position:absolute;
	right:10%;
	top: 35%;
}
.page-2-1 .img_10 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	bottom: 3%;
	margin-left:-12px;
	z-index: 99;
}
/*������*/
.page-3-1 .img_1 {
	height:auto;
	width: 84%;
	position:absolute;
	left: 8%;
	top: 5%;
	z-index:2;
}
.page-3-1 .img_2 {
	height:auto;
	width: 20%;
	position:absolute;
	left: 0;
	top: 0;
}
.page-3-1 .div_1 {
	height:auto;
	width: 100%;
	position:absolute;
	top: 16%;
	left: 0;
	font-size: 16px;
	z-index: 99;
}
.page-3-1 .img_3 {
	height:auto;
	width:100%;
	position:absolute;
	left:0;
	top:10%;
}
.page-3-1 .img_4 {
	height:auto;
	width: 30%;
	position:absolute;
	left: 0;
	bottom: 18%;
}
.page-3-1 .img_5 {
	height:auto;
	width: 30%;
	position:absolute;
	right: 0;
	bottom: 18%;
}
.page-3-1 .img_6 {
	height:auto;
	width: 80%;
	position:absolute;
	left: 10%;
	bottom: 5%;
	z-index: 9;
}
.page-3-1 .img_7 {
	 height:auto;
	 width: 44%;
	 position:absolute;
	 left: 28%;
	 bottom: 21%;
	 z-index: 9;
}
.page-3-1 .img_8 {
	height:auto;
	width: 20%;
	position:absolute;
	left: 40%;
	bottom: 31%;
	z-index: 9;
}
 .page-3-1 .img_9 {
	 height:auto;
	 width: 100%;
	 position:absolute;
	 left: 0;
	 bottom: 0;
	 z-index:2;
}

.page-3-1 .img_10 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	bottom: 3%;
	margin-left:-12px;
	z-index: 99;
}
.page-2-2 .img_1 {
	height:auto;
	width: 84%;
	position:absolute;
	left: 8%;
	top: 5%;
	z-index:2;
}
.page-2-2 .img_2 {
	height:auto;
	width: 20%;
	position:absolute;
	left: 0;
	top: 0;
}
.page-2-2 .div_1 {
	height:auto;
	width: 100%;
	position:absolute;
	top: 18%;
	left: 0;
	font-size: 16px;
	z-index: 99;
}
.page-2-2 .img_3 {
	height:auto;
	width:100%;
	position:absolute;
	left:0;
	top:10%;
}
.page-2-2 .img_4 {
	height:auto;
	width: 30%;
	position:absolute;
	left: 0;
	bottom: 18%;
}
.page-2-2 .img_5 {
	height:auto;
	width: 30%;
	position:absolute;
	right: 0;
	bottom: 18%;
}
.page-2-2 .img_6 {
	height:auto;
	width: 80%;
	position:absolute;
	left: 10%;
	bottom: 5%;
	z-index: 9;
}
.page-2-2 .img_7 {
	height:auto;
	width: 100%;
	position:absolute;
	left: 0;
	bottom: 0;
	z-index:2;
}

.page-2-2 .img_8 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	bottom: 3%;
	margin-left:-12px;
	z-index: 99;
}
.textarea1{background: none;width: 75%;border: 0;color: #333;font-size: 16px;}
.textarea_div{background: none;width: 75%;border: 0;font-size: 16px; margin-left: 15%;text-align: left;color: #333;text-indent: 10px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 5}
.textarea1_xs{width: 70%;margin-left: 15%;text-align: right;color: #333;}
.textarea2{background: none;width: 75%;border: 0;color: #000;text-indent: 10px;font-size: 16px;}
.button1{margin-top:15px;color:#fff;background: #f7b23e;font-size: 15px;border-radius: 5px;text-align: center;width: 60px;margin-left: calc(50% - 30px);display: block;padding: 5px 5px}
.button2{margin-top:15px;color:#fff;background: #f7b23e;font-size: 15px;border-radius: 5px;text-align: center;width: 100px;margin-left: calc(50% - 50px);display: block;padding: 3px 5px}

/*����*/
#mcover{ position: fixed; top:0;  left:0; width:100%; height:100%;background:rgba(0, 0, 0, 0.7);  display:none;z-index:20000;}
#mcover img {position: fixed;right: 18px;top:5px;width: 260px;height: 180px;z-index:20001;}

#textsuper{position:absolute;top:-1000;left:-1000;overflow-x:hidden;overflow-y:hidden;z-index:4000}
#textsub{color:black;position:relative;font-size:21pt;text-align:left;line-height:40pt;top:2000px}
#share{ background: rgba(0,0,0,0.8); position:absolute; top:0px; width:100%; height:100%; display:none; z-index:99998}
.shareImg{ background: url(/WeNewsAgency/images/teacherDay/share.png) right top no-repeat; position:absolute; top:0px; right:0px; width:165px; height:114px; background-size:cover; z-index:99999}
/*����*/
#loading{
	width:60px; height:60px; position:absolute; top:50%; left:50%; margin-top:-30px; margin-left:-30px;
}
.spinner {
	width: 60px;
	height: 60px;
	position: relative;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #67CF22;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
	  }
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #fff;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #fff;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #fff;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #fff;
}