@charset "utf-8";
/**************************************RESET***************************************/
* html {
    padding: 0;
    margin: 0;
}

html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: 0;
}

html {
    -webkit-text-size-adjust: none;
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    background: #f8ecee;
    font-family: "微软雅黑";
}

/* set image max width to 100% */
img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
    -ms-interpolation-mode: bicubic;
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}

img {
    -ms-interpolation-mode: bicubic;
}

/***************************************general styling*****************************************/
a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

a:link, a:visited, a:hover {
    color: #333;
}

/******************* list ******************************/
ul, ol {
    list-style-type: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

/********************* headings ******************/
.clear {
    clear: both
}

body {
    width: 100%;
    height: 100%;
    background: url(../images/index/xjz.jpg) top center no-repeat;
    background-size: cover;
}

.wrap {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    max-width: 640px;
}

.title_1 {
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%
}

.title_1 img {
    width: 100%
}

.content {
    width: 80%;
    height: 70%;
    margin: 0 auto;
}

/*
.con{ width:100%;height:100%;background:url(../images/bg2.png) top center no-repeat;background-size: cover; -moz-background-size: cover;}
*/
.con {
    width: 98%;
    height: 98%;
    border-radius: 8px;
    padding: 2%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.con_0 {
    background: #fff;
    padding-bottom: 18%;
}

.con_0 h2 {
    text-align: center;
    color: #91807d;
    font-weight: normal;
    line-height: 35px;
    font-family: "微软雅黑";
    font-size: 20px
}

.con_1 {
    padding-left: 3%;
    /*padding-left: 10%;*/
}

.con_1 p {
    background: #eeeeee;
    width: 90%;
    /*width: 80%;*/
    padding: 3%;
    /*padding: 5px;*/
    border-radius: 5px;
}

.con_1 input {
    width: 85%;
    padding: 0;
    margin: 0;
    height: 2rem;
    border: 1px solid #c6c6c6;
    font-size:20px;
}

.con_1 label {
    font-size: 1.6rem;
    color: #424242
}

.tijiao {
    width: 48%;
    margin-top: 10%;
    margin-bottom: 10%;
    float: left
}

.jiesao {
    width: 48%;
    margin-top: 10%;
    margin-bottom: 10%;
    float: right
}

.tijiao input {
    width: 100%;
    text-align: center;
    font-family: "微软雅黑";
    color: #FFF;
    height: 44px;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid #134975;
    background: url(../images/index/repeat_1.gif) top left repeat-x
}

.jiesao input {
    width: 100%;
    text-align: center;
    font-family: "微软雅黑";
    color: #FFF;
    height: 44px;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid #134975;
    background: url(../images/index/repeat_1.gif) top left repeat-x
}

.tijiao_100 {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.tijiao_100 input {
    width: 100%;
    text-align: center;
    font-family: "微软雅黑";
    color: #FFF;
    height: 44px;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid #134975;
    background: url(../images/index/repeat_1.gif) top left repeat-x
}

.con_1 .contentLine{
    width: 97%;height: 1.8rem;line-height:  1.8rem;margin: 15px 0;
}
.con_1 .contentLine span{
    width: 5%;margin-right:2%;
}
/*去掉苹果按钮样式*/
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

@media screen and (max-width: 640px) {
    .con_1 label {
        font-size: 2.2rem;
        color: #424242
    }

    .con_1 input {
        height: 3.2rem;
        font-size:20px;
        width: 80%;
    }
    .con_1 select {
        height: 3.2rem;
        font-size:20px;
        width: 30%;
    }
    .con_1 .contentLine{
        margin:20px 0;
    }
}

@media screen and (max-width: 480px) {
    .con_1 label {
        font-size: 1.8rem;
        color: #424242
    }

    .con_1 input {
        height: 2.2rem;
        font-size:18px;
        width: 80%;
    }
    .con_1 select {
        height: 2.2rem;
        font-size:18px;
        width: 25%;
    }
    .con_1 .contentLine{
        margin:15px 0;
    }
}

@media screen and (max-width: 320px) {
    .con_1 label {
        /*font-size: 1.4rem;*/
        color: #424242;
        font-size:15px;
    }

    .con_1 input {
        height: 1.8rem;
        font-size:15px;
        width: 80%;
    }
    .con_1 select {
        height: 1.8rem;
        font-size:15px;
        width: 25%;
    }
    .con_1 .contentLine{
        margin:10px 0;
    }
}



