* {
	word-break: break-all;
	word-wrap: break-word;
}

body {
	font-size: 14px;
	font-family: "Microsoft YaHei", "微软雅黑";
	margin: 0;
	padding: 0;
	color: #676767;
	background: #FAFAFA;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0px;
	padding: 0px;
}

.ps-list ul {
	width: 234px;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	font-size: 14px;
}

input:-moz-placeholder,textarea:-moz-placeholder {
	font-size: 14px;
}

:focus {
	outline: none;
}

p {
	font-size: 16px;
	color: #333333;
}

.word_rule {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

input[type=radio] {
	border: 1px solid #DFE0E4;
}

hr {
	border: 0;
	background-color: #ece6e6;
	height: 1px;
}

.text_center {
	text-align: center;
}

.clear_float {
	clear: both;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.blue {
	color: blue;
}

button,input,select,textarea,a {
	outline: none;
}

input,textarea {
	font-family: "Microsoft YaHei", "微软雅黑";
	font-size: 16px;
}

ul {
	padding: 0px;
	margin: 0px;
}

ul li {
	list-style: none;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	text-decoration: blink;
}

.center_block {
	margin: 0px auto;
}

.nav_full {
	width: 100%;
	background: white;
	height: 50px;
	border-bottom: 1px solid #E1E2E3;
	position: fixed;
	top: 0px;
	z-index: 102;
}

.img_100 {
	width: 100%;
	height: 100%;
}

.container {
	width: 1010px;
	margin-bottom: 30px;
	margin-top: 50px;
}

.logo {
	float: left;
	width: 100px;
	height: 50px;
}

.logo img {
	width: 80px;
	height: 40px;
	margin: 5px 10px;
}

nav {
	background: white;
	width: 1010px;
	height: 50px;
}

.nav_search {
	width: 280px;
	height: 50px;
	float: left;
	margin-left: 100px;
}

.nav_user {
	float: right;
	height: 50px;
	position: relative;
}

.nav_user a:hover {
	color: black;
}

.nav_user a,.nav_user p {
	margin-top: 16px;
	float: left;
	margin-left: 10px;
	font-size: 14px;
}

.user_pic a {
	margin: 0px;
}

.nav_left {
	top: 71px;
	width: 180px;
	position: fixed;
}

.nav_left ul img {
	float: left;
}

.nav_left ul li {
	border: 1px solid #FAFAFA;
	height: 30px;
}

.nav_img {
	float: left;
	width: 24px;
	height: 24px;
	margin: 3px;
}

.nav_img img {
	width: 70%;
	height: 70%;
	margin: 15%;
}

.nav_left li p {
	float: left;
	font-size: 14px;
	margin: 5px 3px;
}

.nav_active {
	border: 1px solid #DEE0E3 !important;
	border-radius: 5px;
	background: #F6F7F9;
}

.nav_ma {
	width: 180px;
	height: 230px;
	border: 1px solid #DDDFE2;
	background: white;
	border-radius: 3px;
	margin-top: 40px;
}

.nav_ma div {
	width: 160px;
	height: 160px;
	background: #F7F7F7;
}

.nav_ma p:nth-child(1) {
	font-size: 18px;
	line-height: 40px;
}

.nav_ma div img {
	width: 140px;
	height: 140px;
	margin: 10px;
}

.content_left {
	float: left;
	margin-left: 200px;
}

.ad_top {
	width: 500px;
	height: 200px;
	border: 1px solid #DFE0E4;
	margin-top: 20px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.add_topic {
	width: 480px;
	padding: 10px;
	margin: 20px auto;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background: white;
}

.add_topic form {
	width: 100%;
}

.add_topic form textarea {
	padding: 5px;
	width: 450px;
	margin: 10px 8px;
	height: 100px;
	resize: none;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.add_topic hr {
	margin: 8px;
}

.up_file_bg {
	width: 100%;
	position: relative;
	margin-left: 10px;
	padding-bottom: 10px;
	padding-top: 16px;
}

.up_file_bg span {
	position: absolute;
	left: 116px;
	top: -9px;
	z-index: 9;
}

.upimg_container {
	width: 514px;
	height: 400px;
	margin-left: 8px;
}

#myfile {
	width: 260px;
	border: 1px solid red;
	height: 100%;
	display: block;
	margin-left: -120px;
	opacity: 0;
	z-index: 10;
}

.one_topic {
	width: 480px;
	padding: 10px;
	background: white;
	margin: 20px auto;
	position: relative;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding-bottom: 1px;
}

.showimg {
	width: 412px;
	background: white;
	display: none;
	z-index: 10;
	margin-left: 50px;
}

.show_images {
	width: 100%;
	margin: 10px auto;
}

.user_tou {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 2px;
}

.user_tou:hover {
	cursor: pointer;
}

.user_info p:nth-child(1) {
	float: left;
	font-size: 15px;
	margin-left: 10px;
}

.user_info p:nth-child(1) a {
	color: black;
}

.user_info p:nth-child(2) {
	float: right;
	font-size: 12px;
	color: #848080;
	margin-top: 3px;
	margin-right: 9px;
}

.user_info p:nth-child(4) {
	font-size: 12px;
	color: #848080;
	margin-left: 50px;
	margin-top: -17px;
}

.one_topic_content {
	width: 426px;
	margin: 5px 0px 20px 48px;
}

.one_topic_content p,.do_action a {
	font-size: 14px;
	margin-bottom: 10px;
}

.up_img_container {
	width: 136px;
	height: 136px;
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
	overflow: hidden;
}

.up_img_container img {
	min-height: 100%;
	min-width: 100%;
	width: 100%;
    height: 100%;
}

.content_detail {
	background: #F0F3F6;
	margin: -10px;
	height: 35px;
	border-radius: 0 0 4px 4px;
}

.content_detail>p {
	float: left;
	color: #B5B5B6;
	font-size: 13px;
	margin-top: 9px;
	margin-left: 10px;
}

.do_action {
	float: right;
	padding: 7px;
	position: relative;
}

.toupiao {
	color: #738CFE;
}
.qrdiv {
	color: #738CFE;
}
.my_toupiao i,.zan i {
	display: none;
}
.my_qrdiv{
	display: none;
}

.comment_detail {
	width: 500px;
	display: none;
	border-radius: 0 0 4px 4px;
}

.comment_detail form input:nth-child(1) {
	padding-left: 11px;
	font-size: 14px;
	width: 380px;
	height: 41px;
	margin: 10px 3px 10px 10px;
	border: 1px solid #DFE0E4;
}

.comment_content a {
	color: #FF5959;
	font-size: 16px;
	line-height: 16px;
	float: left;
	margin-top: 3px;
}

.comment_content p {
	font-size: 15px;
	line-height: 21px;
	padding-right: 5px;
}

.show_comment {
	display: block;
}

.comment_more {
	width: 100%;
	border-top: 1px solid #ddd;
	float: left;
	height: 30px;
	padding-top: 10px;
	background: #f6f6f6;
}

.comment_more a {
	margin-left: 220px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.comment_more a:hover {
	color: #76A513;
}

.comments>.user_tou {
	margin: 0px 10px 25px 10px;
}

.comments>p {
	color: #9E9E9E;
	font-size: 12px;
	line-height: 16px;
}

.my_qrdiv {
	width: 300px;
	height: 300px;
	position: absolute;
	top: -300px;
	right: 10px;
	background: white;
	border: 1px solid #DFE0E4;
	display: none;
}

.my_toupiao {
	    width: 120px;
    height: 160px;
    position: absolute;
    top: -165px;
    right: 10px;
    background: white;
    border: 1px solid #DFE0E4;
    display: none;
	/*width: 150px;
	height: 56px;
	position: absolute;
	top: -64px;
	right: 10px;
	background: white;
	border: 1px solid #DFE0E4;
	display: none;*/
}

.my_toupiao button {
	background: #738CFE;
	border-radius: 4px;
	width: 38px;
	height: 20px;
	font-size: 12px;
	color: white;
	border: none;
	margin-top: 4px;
	cursor: pointer;
}

.my_toupiao p:nth-child(2),.my_qrdiv  p:nth-child(2) {
	color: #333333;
	font-size: 11px;
	line-height: 20px;
	margin-top: 110px;
	text-align: center;
}

.my_toupiao p:nth-child(3),.my_qrdiv p:nth-child(3) {
	color: #6682FE;
	font-size: 14px;
	line-height: 20px;
	margin-top: 3px;
	float: left;
	width: 100%;
	text-align: center;
}

.toupiao_user {
	width: 36px;
	height: 36px;
	margin: 6px 4px 14px 10px;
	float: left;
}

.qrdiv_user {
	width: 50px;
	height: 50px;
	margin: -50px -12px 23px 160px;
}
.content_right {
	float: right;
}

.school_top {
	width: 290px;
	height: 330px;
	background: white;
	margin-top: 20px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.school_top img {
	width: 290px;
	height: 100px;
}

.school_img {
	width: 290px;
	height: 100px;
}

.school_top p:nth-child(2) {
	line-height: 20px;
	padding: 10px;
}

.school_top p:nth-child(2) a {
	color: #333333;
}

.school_top p:nth-child(3),.school_top p:nth-child(7),.school_top p:nth-child(11),.school_top p:nth-child(15)
	{
	font-size: 14px;
	color: #333333;
	float: left;
	line-height: 20px;
	padding-left: 10px;
}

.school_top p:nth-child(4),.school_top p:nth-child(8),.school_top p:nth-child(12),.school_top p:nth-child(16)
	{
	float: right;
	font-size: 14px;
	color: #333333;
	width: 100px;
	line-height: 20px;
}

.school_top hr,.one_school hr {
	margin: 5px 8px;
}

.dochange hr {
	margin: 5px 88px;
}

.school_top p:nth-child(15),.school_top p:nth-child(16) {
	color: #9E9E9E;
}

.list_school {
	padding-top: 5px;
	margin-left: 8px;
	padding-left: 2px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-top: 1px solid #ece6e6;
	margin-top: 5px;
}

.match_top,.fun_topic {
	width: 290px;
	margin-top: 20px;
	background: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.fun_topic {
	height: 275px;
}

.match_top>p {
	color: #333333;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
}

.match_top>p a {
	float: right;
	font-size: 13px;
}

.match_top>p a:hover {
	color: #76A513;
}

.match_top a:hover {
	text-decoration: underline;
}

.fun_topic>p {
	color: #333333;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 10px 0px 10px;
}

.match_top ul:nth-child(2) li a {
	font-size: 13px;
}

.match_top ul:nth-child(2) li a:nth-child(2) {
	width: 188px;
	display: inline-block;
}

.match_top ul:nth-child(2) li span {
	display: inline-block;
	width: 25px;
	padding-left: 10px;
	font-size: 13px;
}

.match_top ul:nth-child(2) p {
	font-size: 13px;
	height: 16px;
	width: 190px;
}

.match_top ul:nth-child(2) li {
	height: 30px;
}

.match_top ul:nth-child(2) li:nth-child(1),.match_top ul:nth-child(2) li:nth-child(1) a p,.match_top ul:nth-child(2) li:nth-child(1) a
	{
	color: #FF6B6B;
}

.match_top ul:nth-child(2) li:nth-child(2),.match_top ul:nth-child(2) li:nth-child(2) a p,.match_top ul:nth-child(2) li:nth-child(2) a
	{
	color: #FFAF6A;
}

.match_top ul:nth-child(2) li:nth-child(3),.match_top ul:nth-child(2) li:nth-child(3) a p,.match_top ul:nth-child(2) li:nth-child(3) a
	{
	color: #51A7FF;
}

.student_block {
	width: 825px;
	float: left;
	margin-left: 200px;
	margin-top: 20px;
}

.student_list {
	margin-top: 20px;
}

.one_student {
	width: 390px;
	border-radius: 4px;
	background: white;
	float: left;
	margin-right: 20px;
	margin-bottom: 14px;
	margin-top: 15px;
	box-shadow: 0 0 2px rgba(90, 87, 87, 0.2);
}

.one_student hr,.user_infomation hr {
	margin: 0px 8px 10px 8px;
}

.one_student ul li {
	color: #9E9E9E;
	font-size: 16px;
	line-height: 30px;
	padding: 2px 10px;
}

.one_student ul li a p:hover {
	color: #333333;
}

.one_student ul li a p {
	width: 380px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #80808F;
}

.student_img {
	float: left;
	width: 60px;
	height: 60px;
	padding: 10px;
}

.one_student .student_intr {
	width: 300px;
}

.student_intr {
	float: left;
	margin-top: 8px;
	width: 538px;
}

.student_intr a:nth-child(1) {
	font-size: 17px;
	line-height: 30px;
	color: #333333;
}

.student_intr p:nth-child(2) {
	float: right;
	line-height: 30px;
}

.student_intr p:nth-child(3) {
	color: #9E9E9E;
	line-height: 30px;
}

.student_intr p:nth-child(3) a {
	color: #9E9E9E;
	font-size: 15px;
}

.student_intr p:nth-child(3) a:hover {
	color: #1FB21F;
}

.user_infomation {
	float: left;
	width: 810px;
	height: 212px;
	margin-left: 200px;
	background: white;
	margin-top: 18px;
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.user_infomation .student_intr {
	margin-left: 40px;
}

.user_infomation .student_intr p:nth-child(4),.user_infomation .student_intr p:nth-child(5)
	{
	color: #9E9E9E;
	line-height: 40px;
}

.user_infomation .student_intr p:nth-child(3) {
	line-height: 40px;
	color: #333333;
}

.user_card {
	height: auto;
	min-height: 118px;
	padding-bottom: 10px;
}

.user_card .student_intr {
	width: 704px;
	margin-left: 10px;
}

.user_card .student_intr p:nth-child(3) {
	color: #C5C2C2;
}

.user_card>p {
	margin: 0px 10px;
}

.art_img {
	width: 80px;
	height: 60px;
	margin: 5px 10px;
	float: left;
}

.fun_topic a {
	display: block;
}

.fun_topic div a:nth-child(2) {
	font-size: 16px;
	color: #333333;
	margin: 8px 5px;
	line-height: 32px;
}

.fun_topic div a:nth-child(3) {
	color: #9E9E9E;
}

.change_info {
	width: 810px;
	height: 430px;
	position: relative;
	float: left;
	margin-left: 200px;
	margin-top: 20px;
}

.change_info>span {
	z-index: 9;
	display: block;
	position: absolute;
	top: 220px;
	left: 180px;
	color: white;
	font-size: 17px;
}

#userSetting {
	float: right;
	position: relative;
	color: #F25D8E;
}

#userSetting:hover {
	cursor: pointer;
}

#userSetting ul {
	position: absolute;
	width: 80px;
	border: 1px solid #ddd;
	background: white;
	box-shadow: 0 0 5px rgba(10, 10, 10, .1);
	left: -24px;
	top: 26px;
	display: none;
}

#userSetting ul li {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	height: 30px;
}

#userSetting ul li a {
	width: 100%;
	height: 100%;
	display: block;
	font-size: 14px;
}

.my_tougao {
	width: 788px;
	height: 30px;
	float: left;
	margin-left: 200px;
	background: white;
	padding: 10px;
	margin-top: 20px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.my_tougao p {
	line-height: 30px;
}

.school_list,.oneschool_list {
	width: 808px;
	float: left;
}

.school_info {
	padding-top: 10px;
}

.school_info a:nth-child(2),.school_info a:nth-child(5) {
	float: right;
}

.school_info a,.school_info span {
	font-size: 16px;
	line-height: 31px;
}

.school_info a:nth-child(1) {
	color: #333333;
}

.school_info span {
	color: #9E9E9E;
}

.one_school {
	background: white;
	margin-top: 20px;
	box-shadow: 0 0 2px rgba(90, 87, 87, 0.2);
	border-radius: 4px;
}

.one_school p:nth-child(7),.oneschool_list .one_school p:nth-child(8) {
	padding-left: 10px;
	color: #FE4949;
}

.school_intr {
	padding: 15px;
}

.school_intr p:nth-child(1) {
	line-height: 25px;
}

.img_40 {
	width: 40px;
	height: 40px;
	margin: 10px;
	float: left;
}

.oneschool_list .school_intr>p {
	float: left;
}

.slide_span {
	float: right;
}

.slide_span img {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transition: all .5s linear;
	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
}

.slide_span:hover img {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transition: all .5s linear;
	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
}

.adimg_100 {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 12.5px;
	margin-bottom: 12px;
}

.allad_list {
	float: left;
	background: white;
	width: 786px;
	margin-top: 20px;
	padding: 10px 10px 0px 10px;
	box-shadow: 0 0 2px rgba(90, 87, 87, 0.2);
	border-radius: 4px;
}

.allad_list .ad_list {
	width: 100px;
	height: 130px;
	float: left;
	margin-right: 12.2px;
	margin-bottom: 8px;
	margin-top: 10px;
}

.allad_list>p,.renqi_topic>p {
	line-height: 25px;
}

.ad_list a p {
	text-align: center;
	float: left;
	width: 100px;
	margin-top: -7px;
}

.img_200 {
	width: 200px;
	height: 200px;
}

.renqi_topic {
	padding: 10px;
	width: 786px;
	background: white;
	float: left;
	margin-top: 20px;
	box-shadow: 0 0 2px rgba(90, 87, 87, 0.2);
	border-radius: 4px;
}

.one_renqitopic {
	width: 200px;
	margin: 15px 30px;
	float: left;
}

.one_renqitopic a p {
	margin: 10px 0px 3px 0px;
}

.list_topic {
	width: 808px;
	border: 1px solid #DFE0E4;
	background: #FFFFFF url("/WeNewsAgency/images/list_bg.jpg") no-repeat;
	background-size: 100%;
	margin-bottom: 20px;
	padding-bottom: 30px;
	box-shadow: 0 0 2px rgba(90, 87, 87, 0.1);
	border-radius: 4px;
}

.list_check {
	border-radius: 4px;
	width: 691px;
	height: 50px;
	background: white;
	margin: 14px 0px;
	box-shadow: 0 0 2px rgba(90, 87, 87, 0.2);
	padding-left: 117px;
}

.list_check li {
	display: inline-block;
	line-height: 50px;
	font-size: 16px;
	color: #9E9E9E;
	margin: 0px 53px;
}

.one_topic_content>p img:hover,.showimg span,.tou_content>input:hover,.comment_detail form input:nth-child(2):hover,.list_check li:hover,#returnTop:hover,.slide_span:hover,.search_btn:hover,.nav_search input[type=submit]:hover
	{
	cursor: pointer;
}

.topic_list {
	margin-top: 230px;
	width: 100%;
	display: none;
}

.topic_list li {
	display: inline-block;
	margin-left: 60px;
}

.topic_list li a,.topic_list li span {
	display: inline-block;
	font-size: 15px;
	line-height: 30px;
	color: #333333;
}

.topic_list li a:nth-child(1) {
	width: 200px;
}

.topic_list li a:nth-child(1):hover {
	color: #F25D8E;
	text-decoration: underline;
}

.topic_list li a:nth-child(2) {
	width: 65px;
}

.change_title {
	font-size: 22px;
	line-height: 60px;
	color: #3B3B3B;
	background: #F6F6F6;
}

.dochange {
	width: 808px;
	background: white;
	border: 1px solid #DFE0E4;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-top: 20px;
}

.dochange form {
	width: 808px;
	padding-top: 15px;
	margin-top: 16px;
}

.input_style label,.input_style2 label,.demo label {
	color: #333333;
	display: inline-block;
	width: 45px;
}

.input_style,.input_style2 {
	position: relative;
	height: 60px;
	padding: 10px;
	display: inline-block;
}

.input_style input {
	width: 200px;
	height: 40px;
	border: 1px solid #DFE0E4;
	padding-left: 10px;
}

.gender_input {
	width: 30px !important;
	height: 12px !important;
}

.fix_right {
	margin-left: 17px !important;
}

.sign_btn,.change_info_btn {
	width: 180px;
	height: 45px;
	background: #78AEFF none repeat scroll 0% 0%;
	border: medium none;
	color: #FFF !important;
	border-radius: 22px;
	font-size: 16px;
	line-height: 42px;
	margin: 60px 304px;
	display: block;
	text-align: center;
}

i {
	font-style: normal;
}

.demo {
	margin: 40px auto 0 auto;
}

.liststyle label {
	float: left;
	font-size: 15px;
	color: #676767;
	line-height: 40px;
	margin-left: 10px;
	margin-right: 3px;
	width: 60px;
}

.fix_left {
	margin-left: 43px !important;
}

.infolist {
	font-size: 14px;
	position: relative;
	color: #494949;
	min-height: 38px;
	margin: 5px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: -10px;
}

.infolist .liststyle span {
	position: relative;
	height: 44px;
	line-height: 44px;
	display: inline-block;
	border: 1px solid #DFE0E4;
	border-radius: 4px;
	padding: 0 0 0 8px;
	cursor: pointer;
	background: white;
	float: left;
	margin-bottom: 30px;
	width: 212px;
}

.infolist .liststyle span i::after {
	content: "";
	display: block;
	width: 20px;
	height: 36px;
	position: absolute;
	right: 0;
	top: 5px;
	background-image: url(/WeNewsAgency/images/wenewspc/jt_nor.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 10px auto;
}

.infolist .liststyle span ul {
	width: 100%;
	border-radius: 0 0 5px 5px;
	position: absolute;
	border: 1px solid #E8E8E8;
	background: white;
	left: -1px;
	top: 36px;
	border-top: 0;
	margin-bottom: 10px;
	display: none;
	z-index: 10;
}

.infolist .liststyle span ul li {
	width: 100%;
	float: left;
	overflow: hidden;
	border-top: 1px solid #E8E8E8;
}

.infolist .liststyle span ul li:first-child {
	border-top: 0;
}

.infolist .liststyle span ul li a {
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 8px;
	color: #494949;
}

#returnTop {
	position: fixed;
	width: 50px;
	height: 70px;
	bottom: 40px;
	right: 40px;
	display: none;
}

#returnTop img {
	border-radius: 25px;
}

#returnTop p {
	font-size: 12px;
	color: slategray;
}

.search_user,.search_school {
	width: 290px;
	margin-top: 20px;
	background: white;
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.search_user>p,.search_school>p {
	color: #333333;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 10px 0px 10px;
}

.search_user li,.search_school li {
	padding: 8px 0px;
}

.search_userpic {
	float: left;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50px;
	margin: 0px 8px;
}

.search_info a {
	color: #333333;
}

.one_renqitopic a:hover p,.search_info a:hover,.school_top p:nth-child(2) a:hover,.student_intr a:nth-child(1):hover,.school_info a:nth-child(1):hover
	{
	color: #EB7350;
}

.search_info p:nth-child(2) {
	font-size: 13px;
	line-height: 22px;
	padding-top: 5px;
	color: #999999;
}

.alllist {
	float: left;
	margin-top: 20px;
	width: 783px;
	background-color: white;
}

.list_num span {
	display: block;
	height: 20px;
	background-color: #F25D8E;
	border-radius: 3px;
	color: white;
	padding-left: 2px;
	margin-left: 13px;
}

.list_num,.list_num_other {
	width: 50px;
}

.list_num_other span {
	margin-left: 13px;
	display: block;
	height: 20px;
	background-color: #CCD0D7;
	border-radius: 3px;
	color: white;
	padding-left: 2px;
}

.alllist tr {
	height: 35px;
}

.title_list {
	width: 240px;
}

.title_list a:hover,.fun_topic div a:nth-child(3):hover {
	color: #0f0f0f;
}

.title_list p {
	font-size: 14px;
	color: gray;
	width: 232px;
}

.ad_list a:hover p,.title_list p:hover,.fun_topic div a:nth-child(2):hover
	{
	color: #4cae4c;
}

.findpassword {
	float: none !important;
	margin-left: 205px;
}

.findpassword label {
	width: 80px !important;
}

.findpassword input {
	background: #FAFAFA;
	border: 1px solid #F5F5F5 !important;
}

.read_list p,.comment_list p {
	font-size: 14px;
	color: #333333;
}

.line {
	height: 2px;
	background: #DFE7EF;
	border-bottom: 1px solid #C5D5E5;
}

.line p {
	display: none;
}

.wrong_login i {
	display: none;
}

.first_line {
	width: 115px;
}

.read_list {
	width: 80px;
}

.comment_list {
	width: 80px;
}

.help {
	color: gray;
	font-size: 12px;
	width: 300px;
	padding-left: 5px;
	margin-top: 50px;
	position: absolute;
	right: -151px;
	bottom: 124px;
}

.grade_card {
	width: 290px;
	height: 60px;
	background: white;
	padding: auto 20px;
	margin-top: 20px;
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.grade_card ul {
	width: 240px;
	margin: 0px auto;
}

.grade_card li {
	display: inline-block;
	width: 75px;
	height: 46px;
	margin-top: 9px;
}

.grade_card li:nth-child(1),.grade_card li:nth-child(2) {
	border-right: 1px solid #dddddd;
}

.grade_card li p:nth-child(2) {
	font-size: 13px;
	width: 100%;
	color: gray;
}

.match_top_fixed {
	position: fixed;
	top: 50px;
}

.tr_top {
	position: absolute;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: -3px -3px 5px rgba(9, 9, 9, 0.04);
}

.tr_position1 {
	left: 140px;
	top: 28px;
	box-shadow: 3px 3px 5px rgba(9, 9, 9, 0.04);
	border-top: none;
	border-left: none;
}

.tr_position2 {
	left: 40px;
	top: -6px;
}

.tr_position3 {
	left: 10px; /*0324修改*/
	top: -6px;
}

.tr_position4 {
	left: 151px;
	top: 31px;
	box-shadow: 3px 3px 5px rgba(9, 9, 9, 0.04);
	border-top: none;
	border-left: none;
}

.wrong_login,.wrong_userinfo {
	position: absolute;
	display: none;
	top: -22px;
	width: 186px;
	height: 36px;
	border: 1px solid #EEEEEE;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 4px;
	left: 20px;
	box-shadow: 0px 4px 6px rgba(44, 41, 41, 0.11);
	z-index: 10;
}

.wrong_userinfo {
	width: 224px;
}

.input_style .wrong_userinfo {
	width: 212px;
	top: -25px;
	left: 55px;
}

.wrong_loginPwd {
	top: 111px;
}

.wrong_login p {
	color: red;
}

.user_login a,.user_login span {
	font-size: 12px;
}

.wrong_login p,.wrong_userinfo p {
	width: 100%;
	margin: 0px;
	line-height: 35px;
	text-align: center;
	color: #FC5744;
}

.user_login {
	box-shadow: 0px 0px 5px rgba(9, 9, 9, 0.09);
	display: none;
	width: 220px;
	height: 208px; /*    0324更改为height: 208px; */
	border: 1px solid #EEE;
	position: absolute;
	background: #FFF none repeat scroll 0% 0%;
	top: 55px;
	padding: 10px 5px;
	z-index: 102;
	left: -31px;
}

.user_login form>input:nth-child(1),.user_login form input:nth-child(2)
	{
	width: 76.5%;
	margin: 10px auto 10px 15px;
	border: 1px solid #E9E9E9;
	height: 25px;
	border-radius: 4px;
	padding: 5px 10px;
}

.user_login div input {
	border: 1px solid #E9E9E9;
	background: white;
	float: left;
	margin-left: 18px;
	margin-top: 4px;
}

.user_login span {
	color: #AAAAAA;
	margin-left: 5px;
}

.user_login a {
	float: right;
	margin-top: 2px;
	margin-right: 18px;
	color: #AAAAAA;
}

.user_login form .login_button {
	width: 86.5%;
	background: #FC5744 none repeat scroll 0% 0%;
	color: #FFF !important;
	border-radius: 6px;
	border: medium none;
	height: 38px;
	display: block;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
	margin: 0px;
	margin-right: 13px;
	margin-top: 14px;
}

.signin_btn a {
	margin: 0px !important;
}

.login_btn {
	color: #FC5744;
	/*margin-left: 43px!important;*/
}

.login_btn:hover {
	cursor: pointer;
}

.signin_block>h4 {
	background: #F6F6F6 none repeat scroll 0% 0%;
	line-height: 50px;
	font-size: 20px;
}

.sign_input {
	width: 550px;
	margin: 28px 228px;
	position: relative;
}

.sign_input .wrong_userinfo {
	top: -30px;
	left: 69px;
}

.sign_input label {
	width: 83px;
	font-size: 15px;
	margin-left: -13px;
}

.sign_input input {
	border: 1px solid #F5F5F5;
	height: 36px;
	padding: 5px;
	width: 213px;
	background: #FAFAFA none repeat scroll 0% 0%;
	border-radius: 4px;
}

.sign_input input[type=button] {
	width: 150px;
	background: #C6C6C6;
	border: none;
	color: white !important;
	height: 45px;
}

.signin_block .sign_btn {
	margin-top: 30px;
	margin-left: 314px;
}

.change_info_btn {
	margin-top: 80px;
}

.one_topic_comments {
	display: block;
}

#choose {
	display: none;
}

canvas {
	width: 100%;
	border: 1px solid #000000;
}

#upload {
	display: block;
	margin: 5px 10px 15px 0px;
	height: 20px;
	text-align: center;
	line-height: 19px;
	cursor: pointer;
	width: 148px;
	background: transparent url("/WeNewsAgency/images/wenewspc/add_img.png")
		no-repeat scroll 0% 0%;
}

.touch {
	background-color: #ddd;
}

.img-list {
	margin: 10px 5px;
}

.img-list li {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 5px 5px 20px 5px;
	border: 1px solid rgb(100, 149, 198);
	background: #fff no-repeat center;
	background-size: cover;
}

.progress {
	position: absolute;
	width: 100%;
	height: 20px;
	line-height: 20px;
	bottom: 0;
	left: 0;
	background-color: rgba(100, 149, 198, .5);
}

.progress span {
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgb(100, 149, 198);
	text-align: center;
	color: #FFF;
	font-size: 13px;
}

.size {
	position: absolute;
	width: 100%;
	height: 15px;
	line-height: 15px;
	bottom: -18px;
	text-align: center;
	font-size: 13px;
	color: #666;
}

.tips {
	display: block;
	text-align: center;
	font-size: 13px;
	margin: 10px;
	color: #999;
}

.pic-list {
	margin: 10px;
	line-height: 18px;
	font-size: 13px;
}

.pic-list a {
	display: block;
	margin: 10px 0;
}

.pic-list a img {
	vertical-align: middle;
	max-width: 30px;
	max-height: 30px;
	margin: -4px 0 0 10px;
}

#gallerycontainer {
	width: 100%;
	max-width: 600px;
	margin: 50px auto;
}

#gallery-target {
	width: 100%;
	height: auto;
}

#gallery-thumbs {
	text-align: center;
}

#gallery-thumbs img {
	width: 120px;
	height: auto;
	margin-right: 20px;
	cursor: pointer;
}

/* sample CSS to #celebrity image */
#celebrity {
	width: 350px;
	height: auto;
}

.sendcode {
	width: 150px;
	background: #C6C6C6;
	border: none;
	color: white !important;
	height: 45px;
}

/*170317修改登录新增微信登录样式*/
.head_login_btn {
	display: inline-block;
	/*padding: 6px 12px;*/
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background: #fff;
}

.dropdown-menu {
	border-radius: 2px;
	min-width: 105px;
}

.head_login {
	width: 35px;
	float: left;
	margin-top: 15px;
}

#login_bk {
	border-bottom: 1px solid #C8C8C8;
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 101;
}

.draft_title {
	padding-left: 5px;
	font-size: 14px;
	width: 450px;
	height: 41px;
	margin: 10px 3px 10px 10px;
	border: 1px solid #DFE0E4;
	border-radius: 4px
}

.zhezhao {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.44);
	filter: alpha(opacity = 44);
	z-index: 111;
	display: none;
}

.login-frameBox {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 605px;
	height: 425px;
	margin-left: -302px;
	margin-top: -212px;
	background-color: #fff;
	border-radius: 10px;
	z-index: 12;
}

.login-publicTitle .switch-close {
	float: right;
	font-size: 30px;
	position: absolute;
	top: 1px;
	right: 15px;
	cursor: pointer;
	color: #999;
}

.login-publicTitle img {
	margin-top: 39px;
	margin-bottom: 16px;
}

.login-publicTitle b::before {
	display: inline-block;
	position: relative;
	top: -4px;
	right: 13px;
	content: "";
	width: 272px;
	height: 0px;
	border-top: 1px solid #e0e0e0;
}

.login-publicTitle b::after {
	display: inline-block;
	position: relative;
	top: -4px;
	left: 12px;
	content: "";
	width: 272px;
	color: #fff;
	height: 0px;
	border-top: 1px solid #e0e0e0;
}

.login-publicTitle b {
	display: block;
	color: #767676;
	font-size: 18px;
}

.select-loginType {
	margin-top: 58px;
}

.select-loginType .sj {
	color: #2a9ce3;
	margin-left: 97px;
	margin-right: 40px;
}

.select-loginType>a {
	display: inline-block;
	border-radius: 50%;
	width: 165px;
	height: 165px;
	border: 1px solid #dfdfdf;
	font-size: 18px;
	text-align: center;
}

.fl {
	float: left;
}

.select-loginType .wechat {
	color: #40af37;
	margin-left: 40px;
}

.clearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.select-loginType .wechat:hover em {
	background-position: -85px -68px;
}

.select-loginType .wechat em {
	width: 57px;
	height: 57px;
	background-position: -85px 8px;
}

.select-loginType a em {
	margin: 38px auto 13px;
	display: block;
	background-image: url(/WeNewsAgency/images/wenewspc/login-type.png);
	background-repeat: no-repeat;
}

.select-loginType .sj em {
	width: 52px;
	height: 57px;
	background-position: 10px 4px;
}

.select-loginType .wechat:hover {
	background: #40af37;
	color: #fff;
	border: 1px solid #40af37;
}

.select-loginType .sj {
	color: #2a9ce3;
	margin-left: 97px;
	margin-right: 40px;
}

.select-loginType .sj:hover {
	background: #2a9ce3;
	color: #fff;
	border: 1px solid #2a9ce3;
}

.select-loginType .sj:hover em {
	background-position: 10px -68px;
}

.select-loginType .model_btn {
	background: #2A9CE3 !important;
}

.select-loginType .model_login {
	top: 155px;
	left: 150px;
	opacity: 0;
	display: block;
	z-index: -1;
}

.search_if {
	margin-top: 0px !important;
}

.search_if .infolist .liststyle span {
	width: 150px;
	margin-right: 10px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 15px;
}

.search_if .infolist .liststyle span i {
	width: 150px;
	height: 40px;
	line-height: 40px;
}

#search_btn {
	width: 123px;
	height: 40px;
	background: #4C9ED9;
	color: white !important;
	border: none;
	border-radius: 8px;
	float: left;
}

.popup {
	width: 610px;
}
/*
3月23
*/
.safetip:nth-child(1) {
	width: 240px;
	text-align: center;
	float: left;
	padding-left: 164px;
}

.safetip:nth-child(2) {
	width: 240px;
	text-align: center;
	float: left;
	padding-right: 164px;
}

.safetip a {
	color: #ABABB5;
}

.color333 {
	color: #333333 !important;
}

.signin_block {
	overflow: hidden;
	width: 808px;
	height: 484px;
	border: 1px solid #EDECEC;
	margin: 26px auto;
	background: white;
	box-shadow: 0px 0px 5px rgba(9, 9, 9, 0.09);
}

/*#phonechange{                          0324删除
	width:7000px;
}
#phonechange li{
	display: inline-block;
	height:400px;
}
#next1,#next2,#next3,#bd_submit{
	background: #C6C6C6;
}
.signin_block {
	overflow: hidden;
    width: 808px;
    height: 484px;
    border: 1px solid #EDECEC;
    margin: 26px auto;
    background: white;
    box-shadow: 0px 0px 5px rgba(9, 9, 9, 0.09);
    }
    .phone_st{
    	margin: 60px 189px;
    }
    #next1{
    	margin-left: 246px;
    }
    .code_st{
    	margin: 60px 176px;
    }
    #next2{
    	margin-left: 308px;
    }
    .phone_st2{
    	margin: 60px 354px;
    }
    #next3{
    	margin-left: 408px;
    }
    .code_st2{
    	margin: 60px -3px;
    }
    #bd_submit{
    	margin-left: 139px;
    }
    #change_phone{
    	color: orange;
    }
    .thephone{
    	margin: 61px 260px;
    }
    .thephone input{
    	background: white!important;
    	border: none!important;
    	width:136px;
    }
    .hidef{
    	display: block;
    	opacity: 0;
    }
    .hidef:hover{
    	cursor: default;
    }
    */

/*0324*/
#codelogin,#codelogin2 {
	width: 50px;
}

.dropdown-menu>li>a {
	border-radius: 3px;
	color: inherit;
	line-height: 25px;
	margin: 4px;
	text-align: left;
	font-weight: 400;
}

#body_bk {
	display: none;
	position: fixed; /*0324修改*/
	top: 0%;
	left: 0%;
	width: 100%;
	height: 133%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 101;
}

.help-tip {
	width: 480px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
	margin-top: 21px;
	background: white;
	border-radius: 4px;
	padding: 6px 10px;
}

.help-tip p {
	color: orange;
	font-size: 14px;
}

/*0326*/
#SendCode {
	border: none;
	width: 114px;
	border-radius: 4px;
	color: white !important;
	outline: none;
	height: 37px;
	background: #C3C8CD;
	font-size: 12px;
	line-height: 41px;
}

#codelogin {
	width: 50px;
}

#login2 {
	display: none;
}

.model_login {
	box-shadow: 0px 0px 5px rgba(9, 9, 9, 0.09);
	display: none;
	width: 220px;
	height: 208px;
	border: 1px solid #EEE;
	position: absolute;
	background: #FFF none repeat scroll 0% 0%;
	top: 55px;
	padding: 10px 5px;
	z-index: 102;
	left: -31px;
}

.wrong_model {
	position: absolute;
	display: none;
	top: -22px;
	width: 186px;
	height: 36px;
	border: 1px solid #EEEEEE;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 4px;
	left: 20px;
	box-shadow: 0px 4px 6px rgba(44, 41, 41, 0.11);
	z-index: 10;
}

.model_login form .model_btn {
	width: 86.5%;
	background: #FC5744 none repeat scroll 0% 0%;
	color: #FFF !important;
	border-radius: 6px;
	border: medium none;
	height: 38px;
	display: block;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
	margin: 0px;
	margin-right: 13px;
	margin-top: 14px;
}

.model_login a {
	float: right;
	margin-top: 2px;
	margin-right: 18px;
	color: #AAAAAA;
}

.model_login a,.model_login span {
	font-size: 12px;
}

.model_login form>input:nth-child(1),.model_login form input:nth-child(2)
	{
	width: 76.5%;
	margin: 10px auto 10px 15px;
	border: 1px solid #E9E9E9;
	height: 25px;
	border-radius: 4px;
	padding: 5px 10px;
}

.model_login span {
	color: #AAAAAA;
	margin-left: 5px;
}

.model_login div input {
	border: 1px solid #E9E9E9;
	background: white;
	float: left;
	margin-left: 18px;
	margin-top: 4px;
}

.wrong_model p {
	width: 100%;
	margin: 0px;
	line-height: 35px;
	text-align: center;
	color: #FC5744;
}

.model_position3 {
	left: 10px;
	top: -6px;
}

.wrong_modelPwd {
	top: 111px;
}

.model_top {
	position: absolute;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: -3px -3px 5px rgba(9, 9, 9, 0.04);
}

.model_position1 {
	left: 140px;
	top: 28px;
	box-shadow: 3px 3px 5px rgba(9, 9, 9, 0.04);
	border-top: none;
	border-left: none;
}

/*0328修改****************************************************************************************/
.name_rule { /*新增*/
	float: right;
	width: 56px !important;
}

#btnSendCode {
	background: #78AEFF;
}

.up_file_bg input[type=submit] {
	width: 94px;
	height: 30px;
	background: #FC5643 none repeat scroll 0% 0%;
	color: #FFF !important; /*修改添加!important,按钮点击后字体仍为白色*/
	border: medium none;
	border-radius: 3px;
	margin-top: -41px;
	margin-left: 332px;
	font-size: 15px;
}

.comment_detail form input:nth-child(2) {
	padding-left: 11px;
	font-size: 14px;
	width: 80px;
	height: 45px;
	margin: 10px 0px;
	border: 1px solid #DFE0E4;
	background: #738CFE;
	color: white !important; /*修改添加!important,按钮点击后字体仍为白色*/
}

.comments {
	border-bottom: 1px solid #F6F6F6;
}

.user_pic {
	float: left;
	border: 1px solid #F3EDED; /*头像边框修改*/
	width: 35px;
	height: 35px;
	margin: 7.5px 10px;
}

.input_style textarea {
	width: 530px; /*修改爱好的输入框宽度*/
	height: 80px;
	border: 1px solid #DFE0E4;
	border-radius: 4px;
	resize: none;
	float: right;
	margin-top: 20px;
	margin-left: 18px;
	padding: 10px; /*修改爱好的输入框前添加间距*/
}

.infolist .liststyle span i {
	display: block;
	height: 44px;
	line-height: 44px;
	position: relative;
	float: left;
	width: 203px;
	padding-left: 10px; /*修改四级级联内边距*/
	font-size: 16px; /*修改四级级联字体大小*/
}

/*提示框信息*/
.popupDom { /*原有重写*/
	position: fixed;
	top: 0px;
	width: 100%;
	text-align: center;
	z-index: 1111;
	background: rgba(10, 10, 10, .1);
	display: none;
}

.popwindow { /*新增*/
	width: 360px;
	height: 150px;
	margin: 170px auto;
	background: white;
	border-radius: 8px;
	overflow: hidden;
}

.popwindow p { /*新增*/
	color: white;
	background: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
}

.popup { /*原有重写*/
	width: 100%;
	height: 30px;
	line-height: 50px;
	border-radius: 0px 0px 4px 4px;
	text-align: center;
	margin: 10px auto;
	color: #333333;
	font-size: 18px;
}

#newsList {
	min-width: 500px;
}

.rankAuthor {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 60px;
	display: block;
	float: right;
}

.rankAuthor2 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	    min-width: 115px;
    display: block;
    max-width: 215px;
}
.RankSetting1{
	position: relative;
    
}
.RankSetting1:hover {
	cursor: pointer;
	color: #F25D8E;
}

.RankSetting1 ul {
	position: absolute;
    width: 110px;
    border: 1px solid #ddd;
    background: white;
    box-shadow: 0 0 5px rgba(10, 10, 10, .1);
    left: -24px;
    top: 36px;
    display: none;
}

.RankSetting1 ul li {
	width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: -30px;
    /* margin-left: 30px; */
    margin: 0px 0px;
}
.RankSetting1 ul li a:hover {
	color: black;
}
.RankSetting1 ul li a {
	width: 100%;
	height: 100%;
	display: block;
	font-size: 14px;
}
.titleOverHide{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    display: block;
	
}
.titleOverHide1{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    display: block;
    float: left;
	
}

.rankAuthor3{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

/*20170623新增广告位*/
.adv_left {
    top: 61px;
    position: fixed;
    float: left;
    margin-left: -190px;
}
.adv_right {
    top: 61px;
    width: 180px;
    position: fixed;
    margin-left: 1024px;
}

video {
	background-color: black;
}