a{
	text-decoration: none;
}
.zhezhao{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.44);
	filter: alpha(opacity=44);
	z-index: 111;
	display: none;
}
.qrcord_box{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.44);
	filter: alpha(opacity=44);
	z-index: 111;
	display: none;
}

.login-frameBox {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 605px;
	height: 425px;
	margin-left: -302px;
	margin-top: -212px;
	background-color: #fff;
	border-radius: 10px;
	z-index: 12;
}.login-publicTitle .switch-close {
	float: right;
	font-size: 30px;
	position: absolute;
	top: 1px;
	right: 15px;
	cursor: pointer;
	color: #999;
}.login-publicTitle img {
	margin-top: 39px;
	margin-bottom: 16px;
}
.login-publicTitle b::before {
	display: inline-block;
	position: relative;
	top: -4px;
	right: 13px;
	content: "";
	width: 272px;
	height: 0px;
	border-top: 1px solid #e0e0e0;
}.login-publicTitle b::after {
	display: inline-block;
	position: relative;
	top: -4px;
	left: 12px;
	content: "";
	width: 272px;
	color: #fff;
	height: 0px;
	border-top: 1px solid #e0e0e0;
}
.qrcord_box b::before {
	display: inline-block;
	position: relative;
	top: -4px;
	right: 7px;
	content: "";
	width: 200px;
	height: 0px;
	border-top: 1px solid #e0e0e0;
}.qrcord_box b::after {
	display: inline-block;
	position: relative;
	top: -4px;
	left: 7px;
	content: "";
	width: 200px;
	color: #fff;
	height: 0px;
	border-top: 1px solid #e0e0e0;
}
.login-publicTitle b {
	display: block;
	color: #767676;
	font-size: 18px;
}.select-loginType {
	margin-top: 58px;
}.select-loginType .sj {
	color: #2a9ce3;
	margin-left: 97px;
	margin-right: 40px;
}.select-loginType > a {
	display: inline-block;
	border-radius: 50%;
	width: 165px;
	height: 165px;
	border: 1px solid #dfdfdf;
	font-size: 18px;
	text-align: center;
}.fl {
	float: left;
}.select-loginType .wechat {
	color: #40af37;
	margin-left: 40px;
}.clearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}.select-loginType .wechat:hover em {
	background-position: -85px -68px;
}.select-loginType .wechat em {
	width: 57px;
	height: 57px;
	background-position: -85px 8px;
}.select-loginType a em {
	margin: 38px auto 13px;
	display: block;
	background-image: url(../../images/wenewspc/login-type.png);
	background-repeat: no-repeat;
}.select-loginType .sj em {
	width: 52px;
	height: 57px;
	background-position: 10px 4px;
}.select-loginType .wechat:hover {
	background: #40af37;
	color: #fff;
	border: 1px solid #40af37;
}.select-loginType .sj {
	color: #2a9ce3;
	margin-left: 97px;
	margin-right: 40px;
}.select-loginType .sj:hover {
	background: #2a9ce3;
	color: #fff;
	border: 1px solid #2a9ce3;
}.select-loginType .sj:hover em {
	background-position: 10px -68px;
}.select-loginType .model_btn{
	background: #2A9CE3!important;
}.select-loginType .model_login{
	top: 155px;
	left:150px;
	opacity: 0;
	display: block;
	z-index: -1;
}

.search_if{
	margin-top: 0px!important;
	
}
.search_if .infolist .liststyle span{
	width:150px;
	margin-right: 10px;
	height: 40px;
line-height: 40px;
margin-bottom: 15px;
}
.search_if .infolist .liststyle span i{
	width:150px;
	height: 40px;
line-height: 40px;
}
#search_btn{
	width:123px;
	height:40px;
	background: #4C9ED9;
	color:white!important;
	border:none;
	border-radius: 8px;
	float: left;
}

			
#SendCode{
	border:none;
	width:114px;
	border-radius: 4px;
	color:white!important;
	outline: none;
	height:37px;
	background: #C3C8CD;
	font-size: 12px;
	line-height: 41px;
	}
	#codelogin{
		width:50px;
	}
	


#login2{
	display: none;
}
.model_login {
	box-shadow: 0px 0px 5px rgba(9, 9, 9, 0.09);
	display: none;
	width: 220px;
	height: 208px;
	border: 1px solid #EEE;
	position: absolute;
	background: #FFF none repeat scroll 0% 0%;
	top: 55px;
	padding: 10px 5px;
	z-index: 102;
	left: -31px;
}
.wrong_model{
	position: absolute;
	display: none;
	top: -22px;
	width: 186px;
	height: 36px;
	border: 1px solid #EEEEEE;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 4px;
	left: 20px;
	box-shadow: 0px 4px 6px rgba(44, 41, 41, 0.11);
	z-index: 10;
}
.model_login form .model_btn {
	width: 86.5%;
	background: #FC5744 none repeat scroll 0% 0%;
	color: #FFF !important;
	border-radius: 6px;
	border: medium none;
	height: 38px;
	display: block;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
	margin: 0px;
	margin-right: 13px;
	margin-top: 14px;
}
.model_login a {
	float: right;
	margin-top: 2px;
	margin-right: 18px;
	color: #AAAAAA;
}
.model_login a, .model_login span {
	font-size: 12px;
}
.model_login form > input:nth-child(1), .model_login form input:nth-child(2) {
	width: 76.5%;
	margin: 10px auto 10px 15px;
	border: 1px solid #E9E9E9;
	height: 25px;
	border-radius: 4px;
	padding: 5px 10px;
}
.model_login span {
	color: #AAAAAA;
	margin-left: 5px;
}
.model_login div input {
	border: 1px solid #E9E9E9;
	background: white;
	float: left;
	margin-left: 18px;
	margin-top: 4px;
}
.wrong_model p{
	width: 100%;
	margin: 0px;
	line-height: 35px;
	text-align: center;
	color: #FC5744;
}
.model_position3 {
	left: 10px;
	top: -6px;
}
.wrong_modelPwd {
	top: 111px;
}
.model_top {
	position: absolute;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: -3px -3px 5px rgba(9, 9, 9, 0.04);
}
.model_position1 {
	left: 140px;
	top: 28px;
	box-shadow: 3px 3px 5px rgba(9, 9, 9, 0.04);
	border-top: none;
	border-left: none;
}

.Single_title_ellipsis
{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}